<hr>

<div *ngIf="customer">
  <h2>{{customer.name}}</h2>

  <p><i>
    {{customer.name}} is at {{customer.address.street}} in {{customer.address.city}}
    in {{customer.address.state}} in the {{customer.address.region}} region.
  </i></p>

  <fieldset>
    <label>
      Name:
      <input [(ngModel)]="customer.name" placeholder="Customer name">
    </label>
  </fieldset>

  <br>
  <label><input type="checkbox" [(ngModel)]="showAddress"/>Show address</label>

  <div *ngIf="showAddress">
    <h3>Address:</h3>
    <app-customer-address [address]="customer.address"></app-customer-address>
  </div>
</div>