<p><strong>Name:</strong> {{name}}</p>
<input [(ngModel)]="name" placeholder="Customer name">

<p><strong>Region: </strong> {{region}}</p>
<p><strong>City: </strong> {{city}}</p>
<p [hidden]="hideAddress"><strong>Address: </strong> {{address}}</p>

<div>
  <select (change)="regionChange($event.target.value)">
    <option>North</option>
    <option>South</option>
    <option>East</option>
    <option>West</option>
  </select>
</div>
<br>
<button (click)="addressClick()">Show/Hide address</button>